
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root{
  --corText: #dff2f5;
  --corFundoSegundaria: #324B50;
  --corFundoPrincipal: #9bb0b5;

  --medidaMenuAtivo: 45%;

  --padraoSm: max-width: 600px;
  --padraoMd: max-width: 768px;
  --padraoL:  max-width: 992px;
  --padraoLg: max-width: 1200px;
}

@media (max-width: 750px) {
  body{
    background: rgba(41, 42, 42, 0.80);
  }
  
  .cabecalho{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--corFundoSegundaria);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  }

  #pesquisa{
    position: absolute;
    width: 100vw;
    height: 35px;
    top: 53px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5px 0;
    z-index: 900;
  }

  #pesquisa span{
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 27px;
    background: var(--corFundoSegundaria);
    border-radius: 0 0 30px 30px;
    box-shadow: 0 1px 5px;
     mask-image: linear-gradient(to top,var(--corFundoSegundaria), transparent 97%);
    -webkit-mask-image: linear-gradient(to top, 
    var(--corFundoSegundaria) 0%,var(--corFundoSegundaria) 98%,transparent 100%);
    z-index: 900;
  }

  #pesquisa svg{
    position: absolute;
    width: 40px;
    height: 20px;
    top: 50%;
    left: inherit;
    transform: translate(-50%,-50%);
    z-index: 1010;
    animation: moveIconePesquisa .4s ease;
  }

  @keyframes moveIconePesquisa{
    0%{margin: -2px  0 0 -2px;}
    100%{margin: 2px 4px 0 0;}
  }

  #pesquisa input{
    position: relative;
    display: block;
    width: 10%;
    top: 4px;
    margin: 0 auto;

    z-index: 1000;

    outline: none;
    border: none;
    border-radius: 10px;

    font-size: 17px;
    text-align: center;

    background: var(--corText);
    
  }

  #pesquisa .inputPesquisa{
    width: 80%;
    transition: .6s;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
    background:rgba(200, 200, 200, 0.99);
  }

 

  .icone-menu{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20px;
    margin: 10px 0px;
    padding: 10px;
    z-index: 1000;
  }

  .icone-menu img{
    position: relative;
    display: block;
    margin: -1px 0 0 0;
    left: 0.625em;
    width:35px;
    height:35px;

      border-radius: 50%;
      box-shadow: 0 0 2px 2px rgba(0,0,0, 0.3);
      object-fit: contain;
  }

 .icone-menu a{
  display: block;
   color: var(--corText);
   font-weight: 600;
 }

/*Menu*/
  .menu{
    display: block;
  }

  .menu ul{
    display: block;
    position: absolute;
    width: var(--medidaMenuAtivo);
    top: 40px;
    left: -2px;
    opacity: 1;
    visibility: hidden;
    overflow: hidden;
    height: 108em;
    
    
    z-index: 20000;
  }

  .menu ul li{
    display: block;
    position: relative;
    width: 100%;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to left, rgba(113, 113, 113, 1), rgba(40, 41, 40, 0.1));
    border-image-slice: 2;
  }

  .menu li a{
    display: block;
    width: 100%;
    padding: 10px 15px;

    font-size: 20px;
    color: var(--corText);
    font-weight: 600;
  }

  .menu ul.ativo{
    display: block;
    visibility: visible;
    overflow-y: auto;
    background: var(--corFundoSegundaria);
    box-shadow: 10px 0px 15px rgba(98, 98, 98, 0.3);
    animation:  menu 1.5s ease;
  }

  .menu ul li a:focus-within{
   background: rgba(255,255,255, 0.4);
     backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color:#202020;
    font-weight: 700;
  }
  
   
.sub-menu-ativo .ativado{
  display: block;
  
}

.desativado{
  display: none;
}

   [data-sub-menu] ul{
     display: block;
     height: 100%;
     padding: 5px;
     
   }

   [data-sub-menu] ul li{
    display: block;
    padding: 10px;
    text-align: center;
  }

  [data-sub-menu] li > a{
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    color: var(--corFundoSegundaria);
  }

   .opicoes{
     position: relative;
     width: 55%;
     left: calc(var(--medidaMenuAtivo));
     transition: .6s all;
     visibility: hidden;
     overflow-y: hidden;
     background: rgba(255,255,255, 0.4);
     backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 20000;
   }
    
   .sub-menu-ativo{
    display: block;
    visibility: visible;
    height: 108em;
    overflow: auto;
    animation: subMenuAtivo .6s ease;
   
   }

   @keyframes subMenuAtivo{
    0%{opacity: 0;}
    50%{transform: translateX(-3px);}
   }

   .sub-menu-ativo [data-sub-menu] li:has(:hover){
   animation: subMenuAtivo .4s ease;

    background: rgba(255,255,255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:  0 0 2px 1px rgba(0,0,0, 0.1);
   }

   .sub-menu-ativo [data-sub-menu] li a:hover{
    color: #202020;
    text-shadow: 0px 2px rgba(55, 53, 53, 0.3);
   }

   .sub-menu-ativo [data-sub-menu] li:not(:hover){
    transform: scale(0.90);
    transition: .6s transform;
   }

   
 /*Animação menu lateral*/
  .menu ul.ativo li:nth-child(1){
    animation: mobileMove .7s ease;
    animation-delay: .2s;
  }
  .menu ul.ativo li:nth-child(2){
    animation: mobileMove .7s ease;
    animation-delay: .3s;
  }
  .menu ul.ativo li:nth-child(3){
    animation: mobileMove .7s ease;
    animation-delay: .4s;
  }
  .menu ul.ativo li:nth-child(4){
    animation: mobileMove .7s ease;
    animation-delay: .5s;
  }
  .menu ul.ativo li:nth-child(5){
    animation: mobileMove .7s ease;
    animation-delay: .6s;
  }
  .menu ul.ativo li:nth-child(6){
    animation: mobileMove .7s ease;
    animation-delay: .699s;
  }


  /*Ícone menu mobile (Container)*/
  .btn-menu{
    display: flex;
    width: 20px;
    height: 20px;
    background: transparent;
    outline: none;
    border: none;
    gap: 20px
  }
  /*Icone que origina as demais partes do menu mobile*/
    .icone-mobile{
      display: block;
      position: relative;
      margin: 7px 0 7px 5px;
      left: -5px;
      width: 30px;
      height: 5px;
      background:rgb(0, 0, 0);
      border-radius: 10px;
    }

  /*Partes inferior e superior do menu mobile com pseudo-elemento*/
      .icone-mobile::before{
        content: '';
        position: absolute;
        top: 10px;
        left: 0px;
        width: inherit;
        height: 5px;
        background: currentColor;
        border-radius: 10px;
      }
      .icone-mobile::after{
          content: '';
          position: absolute;
          top: -10px;
          left: 0px;
          width: inherit;
          height: 5px;
          background: currentColor;
          border-radius: 10px;
      }
  /*Menu mobile sendo Aberto c/ animação*/
      .btn-menu .mobile-ativo::after{
        animation: primeiroIcone .4s ease forwards;
        animation-delay: .1s;
      }

      .btn-menu .mobile-ativo{
        animation: meioIcone .4s ease forwards;
        animation-delay: .2s;
      }

      .btn-menu .mobile-ativo::before{
        animation: ultimoIcone .4s ease forwards;
        animation-delay: .3s;
      }

  /*Menu mobile sendo Fechado c/ animação*/
      .btn-menu .mobile-desativado::after{
        animation: saidaPrimeiroIcone .4s ease-out;
        
      }
      .btn-menu .mobile-desativado{
        animation: saidaMeioIcone .4s ease-out; 
      }
      .btn-menu .mobile-desativado::before{
        animation: saidaUltimoIcone .4s ease-out;
      }
  



  /*Animação tópicos do menu*/
  @keyframes mobileMove{
    0%{left: -30px; }
    50%{opacity: 0;}
    100%{left: 0px; }
  }

  
  /*Animação menu*/
  @keyframes menu{
    0%{opacity: 0;}
    100%{opacity: 1;}
  } 

  /*Animação icones Mobile ativo*/
  @keyframes primeiroIcone{
    0%{left: 15px; opacity: 0;}
    100%{left: 15px; opacity: 1;}
  }
  
  @keyframes meioIcone{
    0%{left: -10px; opacity: 0;}
    100%{left: 0px; opacity: 1;}
  }

  @keyframes ultimoIcone{
    0%{left: -15px; opacity: 0;}
    100%{left: -10px; opacity: 1;}
  }

  /*Animação icones Mobile desativado*/
  @keyframes saidaPrimeiroIcone{
    0%{transform: translateX(20px);  opacity: 0;}
    100%{transform: translateX(0px); opacity: 1;}
  }

 @keyframes saidaMeioIcone{
    0%{transform: translateX(20px); opacity: 0;}
    100%{transform: translateX(0px); opacity: 1;}
  }

  @keyframes saidaUltimoIcone{
    0%{transform: translateX(0px);   opacity: 0;}
    100%{transform: translateX(0px); opacity: 1;}
  }  

  /*CONTEÚDO PRINCIPAL*/
  main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 40px;
    max-width: 100%;
    background: var(--corFundoPrincipal);
    z-index: 300;
    overflow: hidden;
  }

  #banner {
    display: block;
    position: relative;
    margin: 50px auto;
    top: 30px;
    max-width: 100%;

  }

  #banner img{
    display: block;
    max-width: 100%;
  }

 #carrossel{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: column;
    padding: 5px;
    margin: 50px auto;
     width: 100%;
     height: 13.7em;
    box-sizing: border-box;
    
    overflow: auto;
    scroll-snap-type: x mandatory;
  } 


  #carrossel .carrosel-item{
    width: 9.37em;
    height: 12em;
    overflow: hidden;
    scroll-snap-align: center;
    border-radius: 10px;
    background: rgba(255,255,255, 1);
    box-shadow: 0 0 8px 1px rgba(0,0,0, 0.3);
  }

  #carrossel .carrosel-item  img{
    max-width: 200px;
    max-height: 200px;
    margin: 0 0 0 -20px;
    object-fit: contain;
  }

  #promocao-ativas{
    display: block;
    position: relative;
    margin: 50px auto;
    width: 100%;
    height: 12.5em;
    background: rebeccapurple;
    overflow: hidden;
  }


  #consumidor{
    display: block;
    position: relative;
    margin: 50px auto;
    width: 100%;
    height: 12.5em;
    background: rgb(222, 255, 11);
    overflow: hidden;
  }

  footer{
    display: block;
    position: relative;
    margin: 50px 0 0 0;
    bottom: 0px;
    width: 100%;
    background: var(--corFundoSegundaria);
    overflow: hidden;
    z-index: 300;
  }

  footer ul li:nth-child(1) p{
    font-size: 20px;
    text-align: center;
    color: var(--corText);
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to bottom, 
    rgb(107, 107, 107),
    rgb(98, 98, 98));
    border-image-slice: 2;
  }

  .caixa-footer{
    display: block;
  }
  

  #ajuda, #sobre{
    display: none;
  }

  .oculto{
    display: none;
  } 

  footer nav{
    display: block;
    padding: 15px;
  }

  footer label{
    position: relative;
    right: -70%;
    color: var(--corText);
    font-size: 20px;
    padding: 5px 10px;
    box-sizing: border-box;
  }

  footer li{
    margin: 30px 0;
  }

  .footer-item{
    padding: 10px 0;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, 
    rgba(113, 113, 113, 1),
    rgba(40, 41, 40, 0.1));
    border-image-slice: 2;
  }

 .icone-footer{
   position: relative;
   top: 8px;
   width: 30px;
   height: 30px;
 }

  footer input[type="checkbox"]:checked  ~ .oculto{
    display: block;
    overflow-y: auto;
  }

  footer input[type="checkbox"]:checked  + label .icone-footer{
    transition: .2s transform;
    transform: rotate(45deg);
    animation: footer-animacao-icone .2s ease-in;
  }

  .oculto  a{
    display: block;
    margin: 10px 10px;
    padding: 15px 0;
    
    font-size: 20px;
    color: var(--corText);
    animation: footer-animacao .4s ease-out;
  }

  #rede-social img{
    width: 20%;
    aspect-ratio: 2/1;
    object-fit: contain;
  }

  #rede-social{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
  }

  #rede-social span{
    display: block;
    flex: 3 1 300px;
    margin: 10px auto;
    font-size: 17px;
    text-align: center;
    color: var(--corText);
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, 
    rgba(113, 113, 113, 1),
    rgba(40, 41, 40, 0.1));
    border-image-slice: 2;
  }

  #rede-social p{
    flex: 2 1 200px;
    margin: 0 50px;
  }
  
  #rede-social p > a img:hover{
    background: rgba(0,0,0, 0.1);
    border-radius: 5px;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, 
    rgba(113, 113, 113, 1),
    rgba(40, 41, 40, 0.1));
    border-image-slice: 2;
  }

 
  @keyframes footer-animacao{
    0%{transform: translateX(-70px) scale(0.9) ;opacity: 0;}
    100%{opacity: 1;}
  }

  @keyframes footer-animacao-icone{
    0%{transform: scale(0.9) ;opacity: 0;}
    100%{opacity: 1;}
  }

  footer #direitos{
    text-align: center;
    white-space: break-spaces;
    margin: 0 auto;
    color: var(--corText);
  }
 
} 


